<div class="modal">
  <h2 mat-dialog-title>Comprar Pontos</h2>
  <form [formGroup]="form" class="form" (ngSubmit)="confirmar()">
    <mat-dialog-content>
      <p>(1 ponto = R$ 5,00)</p>
      <label>Quantidade de Pontos:</label>
      <input type="number" formControlName="quantidade" />
      <p>Valor Total: R$ {{ valorTotal }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="dialogRef.close()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Confirmar Compra</button>
    </mat-dialog-actions>
  </form>
</div>