<div class="background"></div>
<div class="employee-dashboard-page">
  <div class="employee-dashboard">
  <h2>Bem-vindo(a), {{ nome }}!</h2>

  <div class="top-actions">
    <button (click)="cadastrarConsulta()">Cadastrar Nova Consulta</button>
    <button (click)="gerenciarFuncionarios()">Gerenciar Funcionários</button>
    <button (click)="logout()">Logout</button>
  </div>

  <h3>Agendamentos (Próximas 48h)</h3>

  <table>
    <thead>
      <tr>
        <th>Data/Hora</th>
        <th>Especialidade</th>
        <th>Médico</th>
        <th>Paciente</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of agendamentos">
        <td>{{ a.dataHora | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ a.especialidade }}</td>
        <td>{{ a.medico }}</td>
        <td>{{ a.paciente }}</td>
        <td>{{ a.status }}</td>
        <td>
          <button *ngIf="a.status === 'CHECK_IN'" (click)="confirmarPresenca(a)" class="btn-confirmar">
            Confirmar Presença
          </button>
          <button *ngIf="a.status === 'CRIADO' || a.status === 'CHECK_IN'" (click)="cancelarAgendamento(a)" class="btn-cancelar">
            Cancelar Agendamento
          </button>
        </td>
      </tr>
      <tr *ngIf="agendamentos.length === 0">
        <td colspan="6" style="text-align: center; padding: 20px;">
          Nenhum agendamento nas próximas 48 horas.
        </td>
      </tr>
    </tbody>
  </table>

  <div class="consulta-opcoes" *ngIf="consultasDisponiveis.length">
    <label for="consultaSelect">Selecione uma consulta:</label>
    <select id="consultaSelect" (change)="onSelectChange($event)">
  <option value="">-- Selecione --</option>
  <option *ngFor="let c of consultasDisponiveis" [value]="c.codigo">
    {{ c.especialidade.nome }} - {{ c.medicoNome }} - {{ c.dataHora | date:'dd/MM/yyyy HH:mm' }}

  </option>
</select>


    <div *ngIf="consultaSelecionada">
      <h4>Consulta Selecionada:</h4>
      <p>
        {{ consultaSelecionada.especialidade.nome }} com
        {{ consultaSelecionada.medicoNome }} –
        {{ consultaSelecionada.dataHora | date:'dd/MM/yyyy HH:mm' }}
      </p>
      <p>
        Vagas Ocupadas:
        {{ consultaSelecionada.vagas - consultaSelecionada.vagasDisponiveis }}/{{ consultaSelecionada.vagas }}
      </p>

      <button (click)="cancelarConsulta()" [disabled]="!podeCancelarConsulta()">Cancelar Consulta</button>
      <button (click)="realizarConsulta()">Realizar Consulta</button>
    </div>
  </div>
</div>
</div>
