<div class="modal">
  <h2 mat-dialog-title>Confirmar Check-in</h2>
  <mat-dialog-content>
    <p>Confirma seu check-in para a consulta de {{ data.especialidade }} com {{ data.medico }} em {{ data.data }}?</p>
    <p><em>Isso indica que você comparecerá</em></p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close(false)">NÃO</button>
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)">SIM, FAZER CHECK-IN</button>
  </mat-dialog-actions>
</div>